#logo {
  /*not my code*/
  margin: 0 auto;
  margin-top: 89px;
  padding-bottom: 27px;
  display: block;
  text-align: center;
}
#searchBar {
  object-fit: contain;
  object-position: center;
}
.labelText {
  border-radius: 4px;
  font-size: 14px;
  font-family: arial, sans-serif;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
.altImage {
  font-size: 92px;
  font-family: arial, sans-serif;
}
