/* . is for class used multiple times*/

main {
  background: white;
  height: 52rem;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
main div {
  padding-bottom: 20px;
  margin-bottom: 100px;
  text-align: center;
}

.altImage {
  font-size: 92px;
  font-family: arial, sans-serif;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  color: black;
  float: left;
}
.footer-left {
  margin: 0x;
  padding: 6px;
  padding-left: 27px;
  color: #5f6368;
  font-size: 14px;
  line-height: 40px;
  font-family: arial, sans-serif;
  float: left;
}
.footer-right {
  margin: 0x;
  padding: 6px;
  padding-right: 27px;
  color: #5f6368;
  font-size: 14px;
  line-height: 40px;
  font-family: arial, sans-serif;
  float: right;
}
/* # is for id used once */
#logo {
  text-align: center;
  height: 92px;
}
#searchBar {
  padding: 0;
  width: 482px;
  background: #fff;
  display: flex;
  border: 1px solid hsl(220, 10%, 89%);
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
}
#button {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-size: 14px;
  font-family: arial, sans-serif;
  margin: 11px 4px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

/* no presymbol for tags*/
button:hover {
  cursor: pointer;
  border-color: #c6c6c6;
}
.footer-left:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer-right:hover {
  cursor: pointer;
  text-decoration: underline;
}
